.zr-pager-view{
    position: relative;
    width: 100%;
    overflow: hidden;
    &[data-fixed="true"]{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .view-content{
        width: 100%;
        overflow: auto;
        min-height: 50px;
    }

    .view-pager{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 3px;
    }
}