@color: #616161;
@active-color: #696969;
@disable-color: #c7c7c7;
.zr-pager{
    overflow: hidden;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: @color;
    .pages {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        padding: 0px;
        margin: 0px;
        &>li {
            display: inline-block;
            cursor: default;
            min-width: 16px;
            height: 16px;
            line-height: 16px;
            .icon{
                width: 16px;
                height: 16px;
            }
        }
    }

    .number{
        display: flex;
        justify-content: center;
        align-items: center;
        .count-number, .page-number{
            display: inline-block;
            border-radius: 3px;
            margin: 0px 5px;
            padding: 2px 4px;
        }
    }

    .page-size-select{
        padding: 3px;
        border-radius: 3px;
        color: #616161;
    }

}
